language: php

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - 7
    - hhvm

env:
    - SYMFONY_VERSION=2.1.*
    - SYMFONY_VERSION=2.2.*
    - SYMFONY_VERSION=2.3.*
    - SYMFONY_VERSION=2.4.*
    - SYMFONY_VERSION=2.5.*
    - SYMFONY_VERSION=2.6.*
    - SYMFONY_VERSION=2.7.*
    - SYMFONY_VERSION=2.8.*

install: composer install

before_script:
    - git config --global user.email "test@test.com"
    - git config --global user.name "John Doe"
    - composer require symfony/symfony:${SYMFONY_VERSION}

script: phpunit

notifications:
    email:
        - d.a.badura@gmail.com

matrix:
    allow_failures:
        - php: hhvm
        - php: 7
